//====================================================================================================
.footer {
    @include adaptiveValue("padding-bottom", 70, 35);
    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("margin-top", 100, 50);
    border-top: 1px solid #505050;

    // .footer__body
    &__body {}

    &__copyright {
        margin-top: 30px;
        color: #c4c4c4;
        font-weight: 300;
    }
}


.body-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
    line-height: 1.2;
    gap: 30px;

    @media (max-width:$mobileSmall) {
        flex-direction: column;
        gap: 15px;
    }

    &__nav {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 340px));
            row-gap: 25px;
            column-gap: 30px
        }

        ul li a {
            @include adaptiveValue("font-size", 30, 20);
            cursor: pointer;
        }
    }

    // .body-footer__list
    &__list {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 30, 20);

        a {
            cursor: pointer;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include adaptiveValue("font-size", 30, 20);
            gap: 10px;

            &.socials {
                @include adaptiveValue("gap", 30, 20);
            }
        }

    }

    // .body-footer__socials
    &__socials {}
}

.footer__logo {
    margin-bottom: 30px;
    max-width: 400px;

    img {
        max-width: 100%;
    }
}

//====================================================================================================