//====================================================================================================
.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: $bg-dark;
	z-index: 6;
	border-bottom: 1px solid #505050;

}

.header__nav {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header__top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	@media (min-width:$mobile){
		margin-bottom: 10px;
		  
	}
}

.header__swiper {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-right: 35px;
}

.header__swiper--slide {
	max-width: fit-content;
	padding: 5px 0;
}

.header__swiper-button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: $bg-dark;
	z-index: 4;
	padding: 10px;
	padding-right: 0;
}

.body-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;

	@media (max-width:$mobile) {
		gap: 25px;
		flex-direction: row;
		align-items: center;
	}

	@media (max-width:$mobileSmall) {
		justify-content: space-between;
	}

	// .body-header__logo
	&__logo {
		max-width: 200px;
		min-width: 150px;

		@media (max-width:$tablet) {
			max-width: 150px;
		}

		img {
			max-width: 100%;
		}
	}

	// .body-header__phone
	&__phone {
		margin-left: auto;
		@include adaptiveValue("font-size", 24, 20);
		white-space: nowrap;

		@media (max-width:$mobileSmall) {
			display: none;
		}

	}

	// .body-header__nav
	.nav {
		@media (max-width:$mobile) {

			display: none;
			visibility: hidden;
			opacity: 0;

		}
	}
}
.header__nav {
	max-width: fit-content;
}
//====================================================================================================

//Burger
@media (min-width:$mobile) {
	.header__menu {
		display: none;
	}
}

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 6;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.menu {
	&__body {
		z-index: 5;
		position: relative;
		display: none;
		padding-top: 70px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: rem(70);
			width: 100%;
			background-color: $bg-dark;
		}

		@media (max-width: $tablet) {
			position: fixed;
			width: 80%;
			height: 100%;
			top: 0;
			left: 100%;
			display: flex;
			text-align: right;
			justify-content: center;
			flex-direction: column;
			background-color: $bg-dark;
			transition: left 0.3s ease 0s;

			.menu-open & {
				left: 20%;
			}
		}
	}

	&__list {
		color: #fff;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 40, 25, 767, 320);
		@include adaptiveValue("font-size", 28, 24, 767, 320);
		overflow-y: auto;
		padding: 15px;
	}
}